<div class="content_container" id="devices_content_container">
    <div id="fixedHeaderRow">
        <div class="headerRowItem" title="{{headers[0]['name']}}">{{headers[0]['name']}}</div>
        <div class="headerRowItem" title="{{headers[1]['name']}}">{{headers[1]['name']}}</div>
        <div class="headerRowItem" title="{{headers[2]['name']}}">{{headers[2]['name']}}</div>
        <div class="headerRowItem" title="{{headers[3]['name']}}">{{headers[3]['name']}}</div>
        <div class="headerRowItem" title="{{headers[4]['name']}}">{{headers[4]['name']}}</div>
        <div class="headerRowItem" title="{{headers[5]['name']}}">{{headers[5]['name']}}</div>
        <div class="headerRowItem" title="{{headers[6]['name']}}">{{headers[6]['name']}}</div>
        <div class="headerRowItem" title="{{headers[7]['name']}}">{{headers[7]['name']}}</div>
        <div class="headerRowItem" title="{{headers[8]['name']}}">{{headers[8]['name']}}</div>
        <div class="headerRowItem" title="{{headers[9]['name']}}">{{headers[9]['name']}}</div>
        <div class="headerRowItem" title="{{headers[10]['name']}}">{{headers[10]['name']}}</div>
        <div class="headerRowItem" title="{{headers[11]['name']}}">{{headers[11]['name']}}</div>
    </div>
    <div id="virtualScrollTableArea">
        <cdk-virtual-scroll-viewport [itemSize]="20">
            <div *cdkVirtualFor="let element of linFramesObservableList$ | async" class="scrollListItemRow">
                <div class="scrollListItem" title="{{element.SessionID}}">{{element.SessionID}}</div>
                <div class="scrollListItem" title="{{element.PCKNO}}">{{element.PCKNO}}</div>
                <div class="scrollListItem" title="{{element.FNO}}">{{element.FNO}}</div>
                <div class="scrollListItem" title="{{element.PID_HEX}}">{{element.PID}}</div>
                <div class="scrollListItem" title="{{element.FDATA0}}">{{element.FDATA0}}</div>
                <div class="scrollListItem" title="{{element.FDATA1}}">{{element.FDATA1}}</div>
                <div class="scrollListItem" title="{{element.FDATA2}}">{{element.FDATA2}}</div>
                <div class="scrollListItem" title="{{element.FDATA3}}">{{element.FDATA3}}</div>
                <div class="scrollListItem" title="{{element.FDATA4}}">{{element.FDATA4}}</div>
                <div class="scrollListItem" title="{{element.FDATA5}}">{{element.FDATA5}}</div>
                <div class="scrollListItem" title="{{element.FDATA6}}">{{element.FDATA6}}</div>
                <div class="scrollListItem" title="{{element.FDATA7}}">{{element.FDATA7}}</div>
            </div>
        </cdk-virtual-scroll-viewport>
    </div>
    <div id="user_input_container">
        <div class="user_input_wrapper" id="device_control_wrapper">
            <div class="user_input_controls_label">Select device:</div>
            <div class="input_row">
                <ng-select id="device_select_dropdown" [(ngModel)]="devicesComponentState.selectedDeviceId" bindValue="name" [dropdownPosition]="'top'" placeholder="No device selected" (change)="getSelectedDeviceId()" [disabled]="selectDeviceIdInputDisabled">
                    <ng-option *ngFor="let device of devices" [value]="device.name">{{device.name}}</ng-option>
                </ng-select>
            </div>
            <div class="user_input_controls_label">Device action:</div>
            <div class="input_row">
                <div id="device_btn_area">
                    <div *ngIf="!devicesComponentState.deviceConnected; else showDisconnectBtn">
                        <button type="button" class="btn btn-success ml-1" (click)="addUserToSignalRGroup()" [disabled]="connectionButtonDisabled">Connect</button>
                    </div>
                    <ng-template #showDisconnectBtn>
                        <button type="button" class="btn btn-danger ml-1" (click)="removeUserFromSignalRGroup()" [disabled]="connectionButtonDisabled">Disconnect</button>
                    </ng-template>
                </div>
                <div id="device_status_area">
                    <div id="status_text">Status: {{devicesComponentState.deviceStatusText}}</div>
                </div>
            </div>
        </div>
        <div class="vertical_divider"></div>
        <div class="user_input_wrapper" id="table_control_wrapper">
            <div class="user_input_controls_label">Table actions:</div>
            <div class="input_row">
                <mat-checkbox id="autoScrollCheckbox" [(ngModel)]="devicesComponentState.alwaysScrollToBottom" [color]="checkBoxColor" (change)="toggleAutoscroll($event)">Auto scroll-down</mat-checkbox>
                <button id="clear_table_btn" type="button" class="btn btn-primary ml-3" (click)="clearTable()">Clear table</button>
                <button id="clear_table_btn" type="button" class="btn btn-primary ml-3" (click)="saveFrameDataToSessionStorage()">Save data</button>
            </div>
            <div class="user_input_controls_label">Filter table:</div>
            <div class="input_row">
                <input type="text" id="filterSearchInput" placeholder="Type filter keyword" (keyup)="onKeyUp($event)">
            </div>
            <!--<div class="user_input_controls_label">Other actions:</div>-->
        </div>
        <div class="vertical_divider"></div>
        <div class="user_input_wrapper" id="filter_table_wrapper">
            <!--<div class="user_input_controls_label">Display additional columns:</div>
            <div class="input_row">
                <div class="input_row">
                    <ng-select id="additionalColumnsSelect" [items]="additionalColumns" [multiple]="true" placeholder="Select additional columns" bindLabel="name" groupBy="type" [selectableGroup]="true" [selectableGroupAsModel]="false" [closeOnSelect]="true" bindValue="id"
                        [(ngModel)]="devicesComponentState.selectedAdditionalColumns" (change)="getSelectedAdditionalColumns()">
                        <ng-template ng-optgroup-tmp let-item="item" let-item$="item$" let-index="index">
                            <input id="item-{{name}}" type="checkbox" [ngModel]="item$.selected" /> {{item.type | uppercase}}
                        </ng-template>
                        <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                            <input id="item-{{name}}" type="checkbox" [ngModel]="item$.selected" /> {{item.name}}
                        </ng-template>
                    </ng-select>
                </div>
            </div>-->
        </div>
    </div>
</div>