<div class="content_container">
    <div class="device_tab_container">
        <div class="frame_table_container" id="frameTable">
            <div *ngIf="devicesComponentState.deviceConnected; then showTable else showInfo"></div>
            <ng-template #showTable>
                <mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" #scrollframe>
                    <ng-container matColumnDef="packetNo">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Packet No. </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.PCKNO}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="frameNo">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Frame No. </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.FNO}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="pidHex">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> PID (Hex)</mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.PID_HEX}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="pidDec">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> PID (Dec)</mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.PID_DEC}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="payload0">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> P[0] </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.FDATA0}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="payload1">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> P[1] </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.FDATA1}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="payload2">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> P[2] </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.FDATA2}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="payload3">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> P[3] </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.FDATA3}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="payload4">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> P[4] </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.FDATA4}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="payload5">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> P[5] </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.FDATA5}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="payload6">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> P[6] </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.FDATA6}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="payload7">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> P[7] </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.FDATA7}} </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: columnsToDisplay;" (click)="onRowClicked(row)" [ngClass]="{ 'selected': row === selectedRow }"></mat-row>

                    <!--<tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="12">No data matching the filter "{{input.value}}"</td>
                    </tr>-->
                </mat-table>
            </ng-template>
            <ng-template #showInfo>Please connect to the device to start monitoring frames</ng-template>
        </div>

        <div class="frame_table_controls_container">
            <div class="device_control_wrapper">
                <!--Using ng-option and for loop-->
                <ng-select [(ngModel)]="selectedCar">
                    <ng-option *ngFor="let car of cars" [value]="car.id">{{car.name}}</ng-option>
                </ng-select>
            </div>
            <div class="filtering_control_wrapper"></div>
        </div>
    </div>
</div>