<div class="main_container">
    <!-- app.component.html -->
    <div class="container p-2">

        <button type="button" class="btn btn-primary" (click)="openDialog('Add',{})">New custom byte name</button>

        <mat-table [dataSource]="dataSource" #mytable class="my-table mat-elevation-z8">

            <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

            <!-- PID hex value column -->
            <ng-container matColumnDef="PIDHexValue">
                <mat-header-cell *matHeaderCellDef> PID hex value </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.PIDHexValue}} </mat-cell>
            </ng-container>

            <!-- PID custom name Column -->
            <ng-container matColumnDef="PIDName">
                <mat-header-cell *matHeaderCellDef> PID custom name </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.PIDName}} </mat-cell>
            </ng-container>

            <!-- Payload[0] custom name Column -->
            <ng-container matColumnDef="Payload0Name">
                <mat-header-cell *matHeaderCellDef> Payload[0] custom name </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.Payload0Name}} </mat-cell>
            </ng-container>

            <!-- Action Column -->
            <ng-container matColumnDef="Action">
                <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
                <mat-cell *matCellDef="let element" class="action-link">
                    <a class="btn btn-warning" (click)="openDialog('Update',element)">Edit</a>
                    <a class="btn btn-danger" (click)="openDialog('Delete',element)">Delete</a>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>

    </div>
</div>