<!-- dialog-box.component.html -->

<div mat-dialog-content>
    <div *ngIf="showInput; then userInputTemplate else saveProgressTemplate"></div>
    <ng-template #userInputTemplate>
        <h1 mat-dialog-title><strong>{{action}}</strong></h1>
        <div *ngIf="action != 'Delete'; else deleteTemplate">
            <mat-form-field appearance="fill">
                <mat-label>PID hex value:</mat-label>
                <input matInput [(ngModel)]="local_data.PIDHexValue" required>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>PID custom name:</mat-label>
                <input matInput [(ngModel)]="local_data.PIDName" required>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Payload[0] custom name:</mat-label>
                <input matInput [(ngModel)]="local_data.Payload0Name" required>
            </mat-form-field>
        </div>
        <ng-template #deleteTemplate>
            <b>{{local_data.PIDHexValue}}</b>
            <b> - {{local_data.PIDName}}</b>
            <b> - {{local_data.Payload0Name}}</b>
        </ng-template>
    </ng-template>
    <ng-template #saveProgressTemplate>
        <div *ngIf="saveInProgress; else saveResultTemplate">
            <div>Saving... please wait</div>
        </div>
        <ng-template #saveResultTemplate>
            <div *ngIf="saveOK; else saveError">
                <div>Saved OK</div>
            </div>
            <ng-template #saveError>
                <div>Save Error</div>
            </ng-template>
        </ng-template>
    </ng-template>
</div>
<div mat-dialog-actions>
    <div *ngIf="saveResult">
        <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Close</button>
    </div>
    <div *ngIf="showInput">
        <button mat-button (click)="doAction(action)" [disabled]="!local_data.PIDHexValue || !local_data.PIDName || !local_data.Payload0Name">Save</button>
        <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Cancel</button>
    </div>
</div>
<!--<div mat-dialog-actions>
    <button mat-button (click)="doAction()">{{action}}</button>
    <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Cancel</button>
</div>-->