@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import "~@ng-select/ng-select/themes/default.theme.css";
html,
body {
    height: 100% !important;
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.main_container {
    height: 100vh;
    background-color: #d5dfe8 !important;
}


/* Sidenav */

.mat-sidenav-container {
    height: 100vh;
}

.mat-drawer-inner-container {
    background-color: #2c353c !important;
    overflow: hidden !important;
}

.mat-list-item-content {
    padding: 0 !important;
}

.dropright>.dropdown-menu {
    position: fixed !important;
    left: 51px !important;
    top: 105px !important;
    color: white !important;
    background-color: #2c353c !important;
    border: none;
}

.dropright .dropdown-toggle::after {
    display: none !important;
}

.app-toggle-sidebar {
    bottom: 0px;
    width: 100%;
}


/* ---- */


/* Content */

.content_container {
    margin-left: 1px;
    height: 100vh;
    background-color: #d5dfe8 !important;
}

#devices_content_container {
    min-width: 1200px;
    overflow: hidden;
}

.mat-card {
    background-color: whitesmoke !important;
    transition: none !important;
    box-shadow: none !important;
}

.mat-card-content {
    color: white;
    background-color: whitesmoke !important;
}

.pgr-spinner {
    display: flex;
    align-items: center;
    justify-content: center
}