<div class="main_container">
    <div class="card">
        <div class="card-header">
            {{pageTitle}}
        </div>

        <div class="card-body">
            <form novalidate (ngSubmit)="saveUserSettingsItem()" [formGroup]="userSettingsItemForm">

                <div class="form-group row mb-2">
                    <label class="col-md-2 col-form-label" for="pidHexValue">PID Hex value</label>
                    <div class="col-md-8">
                        <input class="form-control" id="pidHexValue" type="text" placeholder="PID Hex Value (required)" formControlName="pidHexValue" [ngClass]="{'is-invalid': displayMessage.pidHexValue }" />
                        <span class="invalid-feedback">{{displayMessage.pidHexValue}}</span>
                    </div>
                </div>

                <div class="form-group row mb-2">
                    <label class="col-md-2 col-form-label" for="pidName">PID Name</label>
                    <div class="col-md-8">
                        <input class="form-control" id="pidName" type="text" placeholder="PID Name (required)" formControlName="pidName" [ngClass]="{'is-invalid': displayMessage.pidName}" />
                        <span class="invalid-feedback">{{displayMessage.pidName}}</span>
                    </div>
                </div>

                <div class="form-group row mb-2">
                    <label class="col-md-2 col-form-label" for="payload0Name">Payload[0] Name</label>
                    <div class="col-md-8">
                        <input class="form-control" id="payload0Name" type="text" placeholder="Payload[0] Name" formControlName="payload0Name" [ngClass]="{'is-invalid': displayMessage.payload0Name}" />
                        <span class="invalid-feedback">{{displayMessage.payload0Name}}</span>
                    </div>
                </div>

                <div class="form-group row mb-2">
                    <label class="col-md-2 col-form-label" for="payload1Name">Payload[1] Name</label>
                    <div class="col-md-8">
                        <input class="form-control" id="payload1Name" type="text" placeholder="Payload[1] Name" formControlName="payload1Name" [ngClass]="{'is-invalid': displayMessage.payload1Name}" />
                        <span class="invalid-feedback">{{displayMessage.payload1Name}}</span>
                    </div>
                </div>

                <div class="form-group row mb-2">
                    <label class="col-md-2 col-form-label" for="payload2Name">Payload[2] Name</label>
                    <div class="col-md-8">
                        <input class="form-control" id="payload2Name" type="text" placeholder="Payload[2] Name" formControlName="payload2Name" [ngClass]="{'is-invalid': displayMessage.payload2Name}" />
                        <span class="invalid-feedback">{{displayMessage.payload2Name}}</span>
                    </div>
                </div>

                <div class="form-group row mb-2">
                    <label class="col-md-2 col-form-label" for="payload3Name">Payload[3] Name</label>
                    <div class="col-md-8">
                        <input class="form-control" id="payload3Name" type="text" placeholder="Payload[3] Name" formControlName="payload3Name" [ngClass]="{'is-invalid': displayMessage.payload3Name}" />
                        <span class="invalid-feedback">{{displayMessage.payload3Name}}</span>
                    </div>
                </div>

                <div class="form-group row mb-2">
                    <label class="col-md-2 col-form-label" for="payload4Name">Payload[4] Name</label>
                    <div class="col-md-8">
                        <input class="form-control" id="payload4Name" type="text" placeholder="Payload[4] Name" formControlName="payload4Name" [ngClass]="{'is-invalid': displayMessage.payload4Name}" />
                        <span class="invalid-feedback">{{displayMessage.payload4Name}}</span>
                    </div>
                </div>

                <div class="form-group row mb-2">
                    <label class="col-md-2 col-form-label" for="payload5Name">Payload[5] Name</label>
                    <div class="col-md-8">
                        <input class="form-control" id="payload5Name" type="text" placeholder="Payload[5] Name" formControlName="payload5Name" [ngClass]="{'is-invalid': displayMessage.payload5Name}" />
                        <span class="invalid-feedback">{{displayMessage.payload5Name}}</span>
                    </div>
                </div>

                <div class="form-group row mb-2">
                    <label class="col-md-2 col-form-label" for="payload6Name">Payload[6] Name</label>
                    <div class="col-md-8">
                        <input class="form-control" id="payload6Name" type="text" placeholder="Payload[6] Name" formControlName="payload6Name" [ngClass]="{'is-invalid': displayMessage.payload6Name}" />
                        <span class="invalid-feedback">{{displayMessage.payload6Name}}</span>
                    </div>
                </div>

                <div class="form-group row mb-2">
                    <label class="col-md-2 col-form-label" for="payload7Name">Payload[7] Name</label>
                    <div class="col-md-8">
                        <input class="form-control" id="payload7Name" type="text" placeholder="Payload[7] Name" formControlName="payload7Name" [ngClass]="{'is-invalid': displayMessage.payload7Name}" />
                        <span class="invalid-feedback">{{displayMessage.payload7Name}}</span>
                    </div>
                </div>

                <div class="form-group row mb-2">
                    <div class="offset-md-2 col-md-4">
                        <button class="btn btn-primary mr-3" style="width:80px;" type="submit" [title]="userSettingsItemForm.valid ? 'Save your entered data' : 'Disabled until the form data is valid'" [disabled]="!userSettingsItemForm.valid">    
                  Save    
                </button>
                        <button class="btn btn-outline-secondary mr-3" style="width:80px;" type="button" title="Cancel your edits" routerLink="/settings">    
                  Cancel    
                </button>
                        <button class="btn btn-outline-warning" *ngIf="pageTitle != 'Create New'" style="width:80px" type="button" title="Delete this product" (click)="deleteUserSettingsItem()">    
                  Delete    
                </button>
                    </div>
                </div>
            </form>
        </div>

        <div class="alert alert-danger" *ngIf="errorMessage">{{errorMessage}}
        </div>
    </div>
</div>